body {
    background-color: #24242a;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-right: 35px;
    padding: 0;
}

.liactive {
    padding-bottom: 7px;
    border-bottom: 3px solid #d54857;
}

.links {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

a {
    border: 0;
    outline: none;
}

i {
    width: 1em;
    height: 1em;
    display:block;
    cursor: pointer;
}

.patfolio {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

ul.actions {
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1.375rem;
    padding-left: 0;
}
.button.large {
    font-size: 1.20rem;
    height: 2.6rem;
    line-height: 2.6rem;
    padding: 0 4.75rem 0 1.5rem;
}

.button.primary {
    background-color: #d54857;
    box-shadow: none;
    color: #ffffff !important;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #2e2e35;
    border-radius: 7px;
    border: 0;
    box-shadow: inset 0px 0px 0px 3px #3e3e47;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    padding: 0 3.5rem 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

button.large:after, .button.large:after {
    width: 3.25rem;
}

button.primary:after, .button.primary:after {
    background: #c63d4c;
    color: #a0212f;
}

input[type="submit"]::after, input[type="reset"]::after, input[type="button"]::after, button::after, .button::after {
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #3e3e47;
    color: #2e2e35;
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 0;
    text-align: center;
    width: 2.5rem;
}

.arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.webfolio {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #646469;
}

.laptop-image {
    position: absolute;
    width: 100%;
}

.laptop {
    position: relative;
    width: 240px;
    height: 175px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 24px 24px;
    background-color: black;
    box-sizing: border-box;
}

/* The keyboard of the laptop */
.laptop:after {
    content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 20px;
    margin: 131px -54px 0;
    background: black;
    border-radius: 6px;
}

/* The top of the keyboard */
.laptop:before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 8px;
    bottom: -16px;
    left: 50%;
    /*-webkit-transform: translate(-50%);*/
    transform: translate(-50%);
    background: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}

/* The screen (or content) of the device */
.laptop .content {
    width: 80%;
    /* height: 50px;*/
    overflow: hidden;
    border: none;
}

.tablet {
    position: relative;
    width: 98px;
    height: 124px;
    border: 8px black solid;
    border-top-width: 25px;
    border-bottom-width: 25px;
    border-radius: 6px;
}

/* The horizontal line on the top of the device */
.tablet:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.tablet:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: -28px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.tablet .content {
    width: 98px;
    height: 124px;
    background: white;
    margin: -1px;
}

.smartphone {
    position: relative;
    width: 40px;
    height: 80px;
    border: 8px black solid;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-radius: 6px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 40px;
    height: 80px;
    background: white;
}

.image.fit {
    display: block;

    width: 70%;
    margin-left: auto;
    margin-right:auto;

}
.image {
    border: 0;
    display: inline-block;
    position: relative;
    width: 70%;
}

.image:after {
    background: linear-gradient(45deg, #d54857 20%, #2eaeff 100%);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 100%;
}

.main-image {
    width: 100%;
}

.aboutme {
    color:white;
    font-size: 30px;

    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.aboutme-text {
    color: #8f8f92;
    font-size: 15px;
    width: 70%;
    text-align: center;

    margin: 0 auto;
}

.mainimage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.devices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.space {
    margin-top: 1px;
    margin-bottom: 3px;
}

.website {
    display: flex;
    width: 100%;
    background-color: #2e2e35;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

.aboutme-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.fa-github, .fa-linkedin, .fa-envelope-square {
    color: white;
    padding: 20px;
    font-size: 40px;
}

/* Small Mobile Styles */
@media only screen and (max-width: 768px) {

    .devices {
        width: 100%;
        flex-direction: column;
        height: 30%;
    }

    .popmenu-li {
        margin-bottom: 15px;
    }

    .popmenu-links {
        text-decoration:underline white;
        width: 35%;
        text-align: right;
        height: 0;
        color: white;
        margin-right: 20px;
        background-color:#d54857; /* Modern Browsers */
    }

    #target {
        width: 0;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 0;
        background-color: #d54857;
        overflow-x: hidden;
        transition: 0.5s;
        height: 164px;
    }

    .close-button {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .line{
        width: 35%;
        text-align: right;
        height: 0;
        border: none;
        border-top: 1px solid #efe4e4;
        opacity: 0.25;
        margin-right: 20px;
        background-color: #efe4e4; /* Modern Browsers */
    }

    .out-navbar {
        display: flex;
        justify-content: flex-end;
    }

    .mobile-options {
        background-color: #d54857;
        display:flex;
        flex-direction: column;
        position: absolute;
        z-index: 1000;
        width: 0;
        text-align: right;
        color: white;
    }

    .navbar-ontop-small {
        position: fixed;
        top: 0;
        width: 100%;
        height: 55px;
        background-color: #2e2e35;
        -webkit-box-shadow: 0px 18px 19px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 18px 19px -11px rgba(0,0,0,0.75);
        box-shadow: 0px 18px 19px -11px rgba(0,0,0,0.75);
        z-index: 1000;
    }​

    .navbar-ontop {
        display: none;
    }

    .image-mobile {
        width: 100%;
        height: 100%;
    }

    .website {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        padding-top: 35px;
    }

    .outerwebsite {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .innerwebsite {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 40%;
    }

    .navigator-desktop {
        display: none;
    }
    .mainnav-mobile {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        width: 100%;
        height: 65px;
        flex-grow: 2;
    }

    .mainimage {
        height: 200px;
    }

    .comp-image {
        width: 270px;
        height: 140px;
    }

    .mars-image {
        width: 200px;
        height: 100px;
    }

    .imageontop {
        position: absolute;
        top: 45px;
    }

    .fa-bars {
        color: white;
        padding-right: 10px;
        margin-top: 10px;
        font-size: 30px;
    }

    .mainnav-mobile {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        width: 100%;
        height: 35px;
    }

    .smartphone {
        display: none;
    }

    .smartphone .content {
       display: none;
    }

    .tablet {
       display: none;
    }

    .tablet .content {
      display: none;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .devices {
        width: 100%;
        flex-direction: row;
        margin-top: 35px;
    }

    .popmenu-li {
        margin-bottom: 15px;
    }

    .popmenu-links {
        text-decoration:underline white;
        width: 35%;
        text-align: right;
        height: 0;
        color: white;
        margin-right: 20px;
        background-color:#d54857; /* Modern Browsers */
    }

    #target {
        width: 0;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 0;
        background-color: #d54857;
        overflow-x: hidden;
        transition: 0.5s;
        height: 164px;
    }

    .close-button {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .line{
        width: 35%;
        text-align: right;
        height: 0;
        border: none;
        border-top: 1px solid #efe4e4;
        opacity: 0.25;
        margin-right: 20px;
        background-color: #efe4e4; /* Modern Browsers */
    }

    .out-navbar {
        display: flex;
        justify-content: flex-end;
    }

    .mobile-options {
        background-color: #d54857;
        display:flex;
        flex-direction: column;
        align-content: space-evenly;
        z-index: 1000;
        width: 0;
        text-align: right;
        color: white;
    }

    .navbar-ontop-small {
        position: fixed;
        top: 0;
        width: 100%;
        height: 55px;
        background-color: #2e2e35;
        -webkit-box-shadow: 0px 18px 19px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 18px 19px -11px rgba(0,0,0,0.75);
        box-shadow: 0px 18px 19px -11px rgba(0,0,0,0.75);
        z-index: 1000;
    }​

     .navbar-ontop {
         display: none;
     }

    .image-mobile {
        width: 100%;
        height: 100%;
    }

    .website {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .outerwebsite {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .innerwebsite {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 40%;
    }

    .navigator-desktop {
        display: none;
    }
    .mainnav-mobile {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        width: 100%;
        height: 65px;
        flex-grow: 2;
    }

    .mainimage {
        height: 200px;
    }

    .comp-image {
        width: 270px;
        height: 140px;
    }

    .mars-image {
        width: 200px;
        height: 100px;
    }

    .imageontop {
        position: absolute;
        top: 45px;
    }

    .fa-bars {
        color: white;
        padding-right: 10px;
        margin-top: 10px;
        font-size: 30px;
    }

    .mainnav-mobile {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        width: 100%;
        height: 35px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .devices {
        width: 60%;
        flex-direction: row;
    }

    .navbar-ontop-small {
        display: none;
    }

    .website {
        justify-content: right;
    }

    .outerwebsite {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .innerwebsite {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35%;
    }

    .navigator-mobile {
        display: none;
    }
    .mainnav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        width: 100%;
        height: 65px;
        flex-grow: 2;
    }

    .mainimage {
        height: 370px;
    }

    .comp-image {
        width: 520px;
        height: 266px;
    }

    .mars-image {
        width: 400px;
        height: 200px;
        border: 1px solid black;
    }

    .imageontop {
        position: absolute;
        top: 70px;
    }

    li {
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-ontop {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #2e2e35;
        -webkit-box-shadow: 0 18px 19px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 18px 19px -11px rgba(0,0,0,0.75);
        box-shadow: 0 18px 19px -11px rgba(0,0,0,0.75);
        z-index: 1000;
    }​
}

/* Large Desktop Styles */
@media only screen and (min-width: 1200px) {

    .devices {
        flex-direction: row;
        width: 100%;
    }

    .navbar-ontop-small {
        display: none;
    }

    .website {
        justify-content: right;
    }

    .outerwebsite {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .innerwebsite {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }

    .navigator-mobile {
        display: none;
    }
    .mainnav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        width: 100%;
        height: 65px;
        flex-grow: 2;
    }

    .mainimage {
        height: 370px;
    }

    .comp-image {
        width: 520px;
        height: 266px;
    }

    .mars-image {
        width: 400px;
        height: 200px;
        border: 1px solid black;
    }

    .imageontop {
        position: absolute;
        top: 70px;
    }

    li {
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-ontop {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #2e2e35;
        -webkit-box-shadow: 0 18px 19px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 18px 19px -11px rgba(0,0,0,0.75);
        box-shadow: 0 18px 19px -11px rgba(0,0,0,0.75);
        z-index: 1000;
    }​


}



